.directory
.DS_Store
.composer/cache
public_html/
MagentoSamples/
code/html/bin
code/html/dev
code/html/lib
code/html/phpserver
code/html/pub
code/html/setup
code/html/update
code/html/var
code/html/vendor
code/html/*
!code/html/app/
code/html/app/*
!code/html/app/code
!code/html/app/design
!code/html/app/upgrade-translations.sh
magento2-docker-compose/src
Mageplaza/
